.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 569px; /* Đặt chiều cao của form */
  margin-left: auto; /* Tự động điều chỉnh margin-left để mở rộng ra bên trái */
  margin-right: auto;
}

.login-bg img {
  margin: 0 auto;
  height: 356px;
  max-width: 310px;
}

.login-form .form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 120px;
}
.ant-modal-footer .ant-btn {
  display: none;
}
.login-form .form .split {
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  margin-right: 20px; /* Tinh chỉnh khoảng cách từ bên phải */
  text-align: center;
}

.login-form .form .button-group .btn-submit {
  background: transparent linear-gradient(180deg, #00917a 0%, #00483d 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0 4px 6px #00000029;
  border-radius: 3px;
  color: #fff;
  border: none;
  padding: 12px;
}
.login-form .form .button-group button,
.login-form .form .button-group .btn {
  box-shadow: 0 4px 6px #00000029;
  border-radius: 3px;
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #00483d;
  color: #222;
}
.login-form .form .split > * {
  flex: 1; /* Mở rộng động cho tất cả các phần tử con */
  margin: 0 10px; /* Khoảng trắng bằng 2 bên */
}

.ant-modal-footer {
  display: none;
}
.login-form .form .row input {
  background: #e5e5e5;
  border-radius: 4px;
  padding: 10px;
  border: none;
  width: 100%;
}
input,
button {
  outline: none;
}
input[type="text" i] {
  writing-mode: horizontal-tb !important;
}
input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: -internal-light-dark(
    rgb(232, 240, 254),
    rgba(70, 90, 126, 0.4)
  ) !important;
  color: fieldtext !important;
}

input[type="text" i] {
  padding-block: 1px;
  padding-inline: 2px;
}
.login-form .form .row .checkbox-ctn {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input {
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 0px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  padding-block: 1px;
  padding-inline: 2px;
}
.modal {
  display: none;
  vertical-align: middle;
  position: relative;
  z-index: 2;
  max-width: 1000px;
  box-sizing: border-box;
  width: 90%;
  background: #fff;
  padding: 15px 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  text-align: left;
}
.blocker {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
}
.login-form .form .external button {
  justify-content: flex-start;
  display: flex;
  line-height: 38px;
  padding: 3px;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
  font-size: 13px;
  font-weight: 400;
  color: #333;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  min-width: 1200px;
}
.ant-modal-content {
  display: flex;
  margin-left: -50%;
  margin-right: -100%;
  width: 1200px; /* Đặt chiều rộng của modal */
  height: 569px; /* Đặt chiều cao của modal */
}
form {
  display: block;
  margin-top: 0em;
}
.social-buttons {
  display: flex; /* Hiển thị nút trên cùng một hàng */
}
.login-form .form .external .social-buttons .btn-google {
  background: #4385f5;
}
.login-form .form .external .social-buttons .btn-facebook {
  background: #4267b2;
}
.btn-extlogin {
  /* Thêm các thiết lập CSS cho nút Facebook và Google */
  margin: 5px; /* Khoảng cách giữa các nút */
}
